
body {
    color: snow;
    font-family: "微软雅黑", "Microsoft YaHei", "微软雅黑 Light";
    margin: 0px auto;
    padding: 0px;
}

table {
    width: 850px;
    border: 0px;
    text-align: center;
    padding: 0px;
}

iframe {
    border: 0px;
}

.container {
    box-shadow: 0px 1px 5px #868686;
}

.header {
    width: 850px;
    height: 50px;
}

.article {
    width: 850px;
    height: 600px;
}

.footer {
    width: 850px;
    height: 30px;
}

h1 {
    margin: 0px;
}